<!DOCTYPE html>
<html class="h-full bg-white">

<head>
    <meta charset="UTF-8">
    <title>htmx</title>
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.11"
        integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"
        onload="console.log('installed HTMX')"></script>

    <!-- Handlebars from a CDN -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"
        onload="console.log('installed Handlebars')"></script>
    <script onload="console.log('instaled Handlebars')">
        var template = Handlebars.compile("Handlebars <b>{{doesWhat}}</b>");
        console.log(template({ doesWhat: "rocks!" }));
    </script>

    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Hyperscript -->
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>

    <!-- Client Side Templates -->
    <script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/client-side-templates.js"></script>

    <!-- saved file reload -->
    <!-- <script src="https://livejs.com/live.js"></script> -->

    <!-- post json -->
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
</head>

<body class="h-full">

    <form hx-post="/sign_up" hx-ext="json-enc">
        <input type="text" name="username" required>
        <input type="password" name="pw" required>
        <button type="submit">Sign Up</button>
    </form>

    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
                alt="Your Company">
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your
                account</h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <form class="space-y-6" hx-post="/v1/main_user/sign_up" hx-ext="json-enc">
                <div>
                    <label for="username" class="block text-sm font-medium leading-6 text-gray-900">username</label>
                    <div class="mt-2">
                        <input id="username" name="username" type="text" autocomplete="username" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div>
                    <div class="flex items-center justify-between">
                        <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                    </div>
                    <div class="mt-2">
                        <input id="password" name="pw" type="password" autocomplete="current-password" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div>
                    <button type="submit"
                        class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                        Sign up
                    </button>
                </div>
            </form>
        </div>
    </div>

</body>
